@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.homepage{
  background-image: url(./images/telescope2.jpg);
  background-size: cover;
  width: 100;
  height: 100;
}

#okta-sign-in * {
  font-family: 'Poppins', sans-serif;
}

#okta-sign-in {
  width: 300px;
}

label{
  font-weight: 500;
}

.create{
  background-image: linear-gradient(0deg, rgba(0, 18, 71, 1) 0%, rgba(46, 61, 104, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

#actiontab{
  background-image: linear-gradient(0deg, rgba(57, 48, 83, 1) 0%, rgba(86, 78, 108, 0.84) 0%, rgba(67, 58, 92, 0.72) 0%, rgba(255, 255, 255, 0) 100%, rgba(245, 245, 246, 0.05) 100%, rgba(241, 240, 242, 0) 100%, rgba(181, 177, 190, 0.33) 100%, rgba(239, 238, 240, 0.01) 100%);
}
